.heading {
  text-align: center;
  margin-top: 50px;
}
.firstPara {
  margin-left: 310px;
  font-size: 25px;
}
.container {
  margin-left: 20%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, #0365e8, #31abfe);
  text-align: left;
  width: 950px;
}
.CardHeading {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}
.Cardprice {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 18px;
}
.CardList {
  list-style: none;
}
.Card {
  border-radius: 8px;
  background-color: white;
  margin: 20px;
  width: 260px;
  height: 390px;
  /* justify-content: center;
  align-items: center; */
}
.disable-points {
  color: #c0c2c4;
}
.ul,
li {
  padding: 1px;
  list-style: none;
  display: flex;
  text-align: center;
}
.fa {
  margin: 6px;
}
.button {
  cursor: pointer;
  border-style: none;
  position: relative;
  margin-left: 0px;
  margin-bottom: 0px;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  margin-top: 15px;
  background-color: blue;
}
.button1 {
  cursor: pointer;
  border-style: none;
  position: relative;
  margin-left: 50px;
  margin-bottom: 10px;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: #4ba2ff;
}
